/*! vendor-scss | MIT/GPLv2 License | bit.ly/vendor-scss */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
figcaption,
figure {
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * Add the correct display in IE.
 */
main {
  display: block; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 */
button {
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  /**
   * Remove the inner border and padding in Firefox.
   */
  /**
   * Restore the focus styles unset by the previous rule.
   */ }
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0; }
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText; }

/**
 * Show the overflow in Edge.
 */
input {
  overflow: visible; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
   * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
   */ }
  [type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/*
 * Add the correct display in IE 9-.
 */
menu {
  display: block; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

.container {
  max-width: 1000px;
  width: 50%;
  margin: 0 auto;
  position: relative; }

ul li {
  list-style: none; }

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.justify-content-start {
  -ms-flex-pack: start !important;
  justify-content: flex-start !important; }

.justify-content-end {
  -ms-flex-pack: end !important;
  justify-content: flex-end !important; }

.justify-content-center {
  -ms-flex-pack: center !important;
  justify-content: center !important; }

.justify-content-between {
  -ms-flex-pack: justify !important;
  justify-content: space-between !important; }

.align-items-center {
  -ms-flex-align: center !important;
  align-items: center !important; }

.align-items-end {
  -ms-flex-align: end !important;
  align-items: flex-end !important; }

.flex-column {
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
  -ms-flex-direction: column !important;
  flex-direction: column !important; }

div.sentence {
  display: inline-block; }

div.sentence:first-letter {
  text-transform: uppercase;
  font-size: 30px; }

.text-font-15 {
  font-size: 15px;
  font-weight: 700; }

.text-font-16 {
  font-size: 16px;
  font-weight: 700; }

.text-font-17 {
  font-size: 17px;
  font-weight: 700; }

.text-color-1 {
  color: #ff553f; }
  .text-color-1 li:before {
    background: #ff553f; }

.text-color-2 {
  color: #781a01; }
  .text-color-2 li:before {
    background: #781a01; }

.img-left-border {
  float: left;
  margin-top: 10px;
  margin-right: 10px; }

.content .my-content div {
  margin-bottom: 10px; }
.content .my-content a {
  color: #4279f6; }
.content ul {
  padding-left: 0; }
  .content ul li {
    display: inline-block;
    width: 30%;
    font-weight: 500; }
    .content ul li:before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      width: 1em;
      height: 1em;
      font-size: 5px;
      transform: rotate(45deg);
      margin-right: 5px;
      margin-left: 0.5em; }

/*** custom scrollbar ***/
.mCS-my-theme.mCSB_scrollTools {
  width: 3%;
  right: -5.5% !important; }

.mCS-my-theme.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background: url("../image/scrollbar_handle.png");
  width: 100%;
  -webkit-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat; }

.mCS-my-theme.mCSB_scrollTools .mCSB_dragger {
  height: 10% !important; }

.mCS-my-theme.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar,
.mCS-my-theme.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
.mCS-my-theme.mCSB_scrollTools.mCSB_dragger:active .mCSB_dragger_bar {
  background: url("../image/scrollbar_handle.png");
  background-color: transparent !important;
  width: 100%;
  -webkit-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat; }

.mCS-my-theme.mCSB_scrollTools {
  opacity: 1; }

.mCS-my-theme.mCSB_scrollTools .mCSB_draggerRail {
  background: url(../image/scrollbar.png);
  -webkit-background-size: contain;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%; }

/*** style page ***/
body {
  background: url("../image/body.jpg");
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  background-position: center;
  font-weight: normal;
  line-height: 1.3em; }
  body header {
    position: relative;
    background: #560909;
    /* Old browsers */
    background: -moz-linear-gradient(left, rgba(86, 9, 9, 0.8) 0%, rgba(255, 62, 57, 0.8) 50%, rgba(86, 9, 9, 0.8) 100%), url("../image/header_bg.png") right bottom repeat;
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(86, 9, 9, 0.8) 0%, rgba(255, 62, 57, 0.8) 50%, rgba(86, 9, 9, 0.8) 100%), url("../image/header_bg.png") right bottom repeat;
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(86, 9, 9, 0.8) 0%, rgba(255, 62, 57, 0.8) 50%, rgba(86, 9, 9, 0.8) 100%), url("../image/header_bg.png") right bottom repeat;
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ }
    body header .logo img {
      height: 4.2vw;
      max-height: 81px; }
    body header nav {
      width: 80%;
      overflow: hidden; }
      body header nav ul li a {
        display: block;
        position: relative; }
        body header nav ul li a:hover .text-active {
          top: 0;
          -webkit-transition: 0.2s ease-in-out;
          -o-transition: 0.2s ease-in-out;
          transition: 0.2s ease-in-out; }
        body header nav ul li a .text-active {
          position: absolute;
          top: -200%;
          left: 0;
          -webkit-transition: 0.2s ease-in-out;
          -o-transition: 0.2s ease-in-out; }
        body header nav ul li a img {
          max-height: 47px;
          height: 2.5vw; }
  body main .content {
    width: 70vh;
    height: 70vh;
    margin: 0 auto;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: contain;
    background-size: contain; }
    body main .content .my-content {
      height: 65%;
      position: absolute;
      top: 15%;
      left: 5%;
      width: 90%; }
      body main .content .my-content table {
        width: 100%;
        text-align: center;
        border: 1px solid #000;
        border-collapse: collapse; }
        body main .content .my-content table th, body main .content .my-content table td {
          border: 1px solid #000;
          padding: 5px; }
        body main .content .my-content table tr:nth-child(2n+1) {
          background: #ece6d2; }
        body main .content .my-content table tr:nth-child(2n) {
          background: #fffceb; }
        body main .content .my-content table tr:first-child {
          background: #6a5b4c;
          color: #fff; }
        body main .content .my-content table td:last-child {
          font-weight: bold; }
    body main .content.the-le {
      background-image: url("../image/the_le.png"); }
    body main .content.lich-su {
      background-image: url("../image/lich_su.png"); }
    body main .content.phan-thuong {
      background-image: url("../image/phan_thuong.png"); }
    body main .content.quay-so {
      background-image: url("../image/may_quay.png"); }
      body main .content.quay-so #roll {
        background-image: url(../image/quay_normal.png);
        width: 55%;
        height: 55%;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        cursor: pointer; }
  body main .wrap-popup {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    visibility: hidden;
    background: rgba(0, 0, 0, 0.7); }
    body main .wrap-popup .popup {
      top: -100%;
      -webkit-transition: 0.5s linear;
      -o-transition: 0.5s linear;
      transition: 0.5s linear;
      position: relative;
      width: 40%;
      min-height: 50%;
      margin: 0 auto;
      background: #fff;
      z-index: 1;
      border-radius: 20px;
      overflow: hidden;
      font-weight: 500; }
      body main .wrap-popup .popup__header {
        background: #f92c16;
        color: #fff;
        padding: 10px;
        font-size: 1.5vw;
        text-align: center; }
        body main .wrap-popup .popup__header #close_popup {
          right: 1em;
          position: absolute;
          top: 0.3em;
          cursor: pointer;
          width: 1em;
          height: 1em; }
          body main .wrap-popup .popup__header #close_popup:after, body main .wrap-popup .popup__header #close_popup:before {
            content: '';
            position: absolute;
            display: block;
            width: 1em;
            height: 1px;
            background: #000;
            top: 15px;
            left: 0; }
          body main .wrap-popup .popup__header #close_popup:after {
            transform: rotate(45deg); }
          body main .wrap-popup .popup__header #close_popup:before {
            transform: rotate(-45deg); }
      body main .wrap-popup .popup__content {
        text-align: center;
        padding: 30px; }
        body main .wrap-popup .popup__content .title {
          color: #f92c16;
          font-size: 2vw; }
  body .bottom {
    width: 100%; }
    body .bottom .container > img {
      position: absolute;
      max-width: 442px;
      width: 45%;
      top: -20vh;
      left: 0; }
    body .bottom .container > div {
      top: -3vh;
      left: 28vh;
      z-index: 1;
      position: relative; }
      body .bottom .container > div table {
        width: 26vw;
        min-width: 400px;
        background: rgba(44, 11, 11, 0.8);
        color: #fff;
        border-collapse: collapse;
        text-align: center; }
        body .bottom .container > div table td {
          padding: 10px; }
      body .bottom .container > div table, body .bottom .container > div th, body .bottom .container > div td {
        border: 1px solid #c21f22; }
      body .bottom .container > div div.reward {
        width: 100%;
        padding-top: 5px; }
        body .bottom .container > div div.reward p {
          margin: 5px 0;
          font-weight: 500; }
          body .bottom .container > div div.reward p.title {
            color: #e1040d; }
  body.show-popup .wrap-popup {
    visibility: visible;
    -webkit-transition: 0.5s linear;
    -o-transition: 0.5s linear;
    transition: 0.5s linear; }
    body.show-popup .wrap-popup .popup {
      -webkit-transition: 0.5s linear;
      -o-transition: 0.5s linear;
      transition: 0.5s linear;
      top: 0; }
