@import '../vendor/normalize';

@include normalize();
.container {
  max-width: 1000px;
  width: 50%;
  margin: 0 auto;
  position: relative;
}
ul li {
  list-style: none;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.justify-content-start {
  -ms-flex-pack: start !important;
  justify-content: flex-start !important;
}

.justify-content-end {
  -ms-flex-pack: end !important;
  justify-content: flex-end !important;
}

.justify-content-center {
  -ms-flex-pack: center !important;
  justify-content: center !important;
}

.justify-content-between {
  -ms-flex-pack: justify !important;
  justify-content: space-between !important;
}

.align-items-center {
  -ms-flex-align: center !important;
  align-items: center !important;
}

.align-items-end {
  -ms-flex-align: end !important;
  align-items: flex-end !important;
}
.flex-column {
  -webkit-box-orient: vertical!important;
  -webkit-box-direction: normal!important;
  -ms-flex-direction: column!important;
  flex-direction: column!important;
}
div.sentence{
  display: inline-block;
}
div.sentence:first-letter {
  text-transform: uppercase;
  font-size: 30px;
}
.text-font-15{
  font-size: 15px;
  font-weight: 700;
}
.text-font-16{
  font-size: 16px;
  font-weight: 700;
}
.text-font-17{
  font-size: 17px;
  font-weight: 700;
}
.text-color-1{
  color: #ff553f;
  li{
    &:before{
      background: #ff553f;
    }
  }
}
.text-color-2{
  color: #781a01;
  li{
    &:before{
      background: #781a01;
    }
  }
}
.img-left-border{
  float: left;
  margin-top: 10px;
  margin-right: 10px;
}
.content{
  .my-content{
    div{
      margin-bottom: 10px;
    }
    a{
      color: #4279f6;
    }
  }
  ul{
    padding-left: 0;
    li{
      display: inline-block;
      width: 30%;
      font-weight: 500;
      &:before{
        content: '';
        display: inline-block;
        vertical-align: middle;
        width: 1em;
        height: 1em;
        font-size: 5px;
        transform: rotate(45deg);
        margin-right: 5px;
        margin-left: 0.5em;
      }
    }
  }
}
/*** custom scrollbar ***/

.mCS-my-theme.mCSB_scrollTools{
  width: 3%;
  right: -5.5%!important;
}
.mCS-my-theme.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
  background: url("../image/scrollbar_handle.png");
  width: 100%;
  -webkit-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
}
.mCS-my-theme.mCSB_scrollTools .mCSB_dragger{
  height: 10%!important;
}
.mCS-my-theme.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar,
.mCS-my-theme.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
.mCS-my-theme.mCSB_scrollTools.mCSB_dragger:active .mCSB_dragger_bar{
  background: url("../image/scrollbar_handle.png");
  background-color: transparent !important;
  width: 100%;
  -webkit-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
}
.mCS-my-theme.mCSB_scrollTools{
  opacity: 1;
}
.mCS-my-theme.mCSB_scrollTools .mCSB_draggerRail{
  background: url(../image/scrollbar.png);
  -webkit-background-size: contain;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
}
/*** style page ***/
body {
  background: url("../image/body.jpg");
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  background-position: center;
  font-weight: normal;
  line-height: 1.3em;
  header {
    position: relative;
    background: rgb(86, 9, 9); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(86, 9, 9, 0.8) 0%, rgba(255, 62, 57, 0.8) 50%, rgba(86, 9, 9, 0.8) 100%),
    url("../image/header_bg.png") right bottom repeat; /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(86, 9, 9, 0.8) 0%, rgba(255, 62, 57, 0.8) 50%, rgba(86, 9, 9, 0.8) 100%),
    url("../image/header_bg.png") right bottom repeat; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(86, 9, 9, 0.8) 0%, rgba(255, 62, 57, 0.8) 50%, rgba(86, 9, 9, 0.8) 100%),
    url("../image/header_bg.png") right bottom repeat; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    .logo {
      img {
        height: 4.2vw;
        max-height: 81px;
      }
    }
    nav {
      width: 80%;
      overflow: hidden;
      ul {
        li {
          a {
            display: block;
            position: relative;
            &:hover {
              .text-active {
                top: 0;
                -webkit-transition: 0.2s ease-in-out;
                -o-transition: 0.2s ease-in-out;
                transition: 0.2s ease-in-out;
              }
            }
            .text-active {
              position: absolute;
              top: -200%;
              left: 0;
              -webkit-transition: 0.2s ease-in-out;
              -o-transition: 0.2s ease-in-out;
            }
            img {
              max-height: 47px;
              height: 2.5vw;
            }
          }
        }
      }
    }

  }
  main {
    .content {
      width: 70vh;
      height: 70vh;
      margin: 0 auto;
      position: relative;
      background-repeat: no-repeat;
      background-position: center center;
      -webkit-background-size: contain;
      background-size: contain;
      .my-content{
        height: 65%;
        position: absolute;
        top: 15%;
        left: 5%;
        width: 90%;
        table{
          width: 100%;
          text-align: center;
          border:1px solid #000;
          border-collapse: collapse;
          th,td{
            border:1px solid #000;
            padding: 5px;
          }
          tr:nth-child(2n+1){
            background: #ece6d2;
          }
          tr:nth-child(2n){
            background: #fffceb;
          }
          tr:first-child{
            background: #6a5b4c;
            color: #fff;
          }
          td:last-child{
            font-weight: bold;
          }

        }
      }
      &.the-le {
        background-image: url("../image/the_le.png");
      }
      &.lich-su {
        background-image: url("../image/lich_su.png");
      }
      &.phan-thuong {
        background-image: url("../image/phan_thuong.png");
      }
      &.quay-so {
        background-image: url("../image/may_quay.png");
        #roll {
          background-image: url(../image/quay_normal.png);
          width: 55%;
          height: 55%;
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
          cursor: pointer;
        }
      }
    }
    .wrap-popup {
      position: fixed;
      width: 100%;
      height: 100%;
      z-index: 1;
      top: 0;
      left: 0;
      visibility: hidden;
      background: rgba(0, 0, 0, 0.7);
      .popup {
        top: -100%;
        -webkit-transition: 0.5s linear;
        -o-transition: 0.5s linear;
        transition: 0.5s linear;
        position: relative;
        width: 40%;
        min-height: 50%;
        margin: 0 auto;
        background: #fff;
        z-index: 1;
        border-radius: 20px;
        overflow: hidden;
        font-weight: 500;
        &__header {
          background: #f92c16;
          color: #fff;
          padding: 10px;
          font-size: 1.5vw;
          text-align: center;
          #close_popup {
            right: 1em;
            position: absolute;
            top: 0.3em;
            cursor: pointer;
            width: 1em;
            height: 1em;
            &:after, &:before {
              content: '';
              position: absolute;
              display: block;
              width: 1em;
              height: 1px;
              background: #000;
              top: 15px;
              left: 0;
            }
            &:after {
              transform: rotate(45deg);
            }
            &:before {
              transform: rotate(-45deg);
            }
          }
        }
        &__content {
          text-align: center;
          padding: 30px;
          .title {
            color: #f92c16;
            font-size: 2vw;

          }
        }
      }
    }

  }
  .bottom {
    width: 100%;
    .container{
      > img {
        position: absolute;
        max-width: 442px;
        width: 45%;
        top: -20vh;
        left: 0;
      }
      > div {
        top: -3vh;
        left: 28vh;
        z-index: 1;
        position: relative;
        table {
          width: 26vw;
          min-width: 400px;
          background: rgba(44, 11, 11, 0.8);
          color: #fff;
          border-collapse: collapse;
          text-align: center;
          td {
            padding: 10px;
          }
        }
        table, th, td {
          border: 1px solid #c21f22;
        }
        div.reward {
          width: 100%;
          padding-top: 5px;
          p {
            margin: 5px 0;
            font-weight: 500;
            &.title {
              color: #e1040d;
            }
          }
        }
      }
    }
  }
  &.show-popup {
    .wrap-popup {
      visibility: visible;
      -webkit-transition: 0.5s linear;
      -o-transition: 0.5s linear;
      transition: 0.5s linear;
      .popup {
        -webkit-transition: 0.5s linear;
        -o-transition: 0.5s linear;
        transition: 0.5s linear;
        top: 0;
      }
    }
  }
}

