div.bottom
    .container
        img.reward(src="../image/qua_bg.png")
        div
            table(border='1')
                tr
                    td Số Kul Xu Chuyển Vào Game
                    td Điểm
                    td Lần Quay Nhận
                tr
                    td 10.000 xu
                    td 10 điểm
                    td 1
            div.reward
                p.title Các giải thưởng như:
                p   Điện thoại, thẻ Zing, Gối, Bình nước, Tank sẽ trao sau khi kết thúc sự kiện