.my-content
    ul.text-color-1
        li anchor link 1
        li mục 2
        li mục 3
    ul.text-color-2
        li mục 4
        li mục 5
        li mục 6
    div Nội dung content ngoài
    div.text-color-1 Nội dung text cần nhấn mạnh 1
    div.text-color-2 Nội dung text cần nhấn mạnh 2
    div
        a(href='') màu của link trong nội dung
    .text-font-15.text-color-2 Class="Text font 15"
    .text-font-16.text-color-2 Class="Text font 15"
    .text-font-17.text-color-2 Class="Text font 15"
    div.sentence
        | A paragraph develops ONE main idea through a series of related sentences. This main idea is usually introduced in the first sentence of the paragraph, called the topic sentence. The idea is then developed further through the sentences that follow.
        img(class="img-left-border" src="../image/image.jpg")
        | A paragraph develops ONE main idea through a series of related sentences. This main idea is usually introduced in the first sentence of the paragraph, called the topic sentence. The idea is then developed further through the sentences that follow.