doctype html
html
    head
        <meta charset="UTF-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="description" content="Booking giai dau">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        block head
            link(rel="stylesheet", href= "../css/main.css")
            <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
    body.d-flex.flex-column.justify-content-between
        block header
            - x =2
            header
                .container.d-flex.justify-content-between
                    .logo
                        a(href='/')
                            img(src='../image/logo.png')
                    nav
                        ul.d-flex.justify-content-between
                            each val in [1, 2, 3, 4, 5]
                                li
                                    a(href='')
                                        img(class='text-normal' src='../image/text_normal/text_'+val+'.png')
                                        img(class='text-active' src='../image/text_active/text_'+val+'.png')

        main.d-flex.align-items-end
            .container
                block content
        include bottom.pug
        block javascripts
            script(src="../js/jquery-3.3.1.min.js")

                    







