extends ../layout.pug
block append head
    <link rel="stylesheet" href="../css/jquery.mCustomScrollbar.min.css" />
block content
    .content.phan-thuong.d-flex.justify-content-center
        include ../content
block append javascripts
    <script src="../js/jquery.mCustomScrollbar.js"></script>
    script(src="../js/custom-scroll.js")







